* {
    color: #333;
    font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: beige;
}

#app {
    background-color: #fcfaff;
    color: #333;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 520px;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
}

#app :focus {
    outline: 1px dashed pink;
}

li :focus {
    background-color: lime;
}

.game {
    height: 100%;
    padding-left: 20px;
}

#staves {
    margin-left: 5px;
}

.h-primary {
    font-size: 44px;
    margin-bottom: 10px;
}

.status-box {
    height: 115px;
    margin: 10px 5px 10px 5px;
}

.status-feedback {
    color: #000;
    font-size: 20px;
    margin-bottom: 7px;
}

.status-primary {
    font-size: 24px;
    margin-top: 10px;
}

.status-secondary {
    color: #363;
    font-size: 20px;
    margin-left: 2px;
}

.k-of-n {
    margin:10px 5px 10px 5px;
}

button {
    height: 40px;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.buttonStyle {
    font-size: 20px;
    height: 60px;
    width: 50px;
}

.buttonWrongStyle {
    background-color: #ff1a1a;
    border: 1px solid gray;
    color: white;
    font-size: 20px;
    height: 60px;
    text-shadow: -0.5px 0 #333, 0 0.5px #333, 0.5px 0 #333, 0 -0.5px #333;
    width: 50px;
}

.buttonRightStyle  {
    background-color: cornflowerblue;
    border: 1px solid gray;
    color: white;
    font-size: 20px;
    height: 60px;
    text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 1px #333;
    width: 50px;
}

button:hover {
    box-shadow: inset 2px -1px 20px 0px #ffd966;
}

.keyHint {
    border: 1px solid green;
    border-radius: 2px;
    background-color: green;
    color: white;
    margin: auto;
}

.answerKeyHint {
    font-size: 14px;
    width: 15px;
}

.miniKeyHint {
    font-size: 10px;
}

.miniKeyHintDiv {
    font-size: 10px;
    width: 10px;
}

a:hover {
    text-shadow: 1px 1px 3px #ffd966;
}