* {
    color: #333;
    font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: beige;
}

p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
}

em {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.what-is-this {
    color: #666;
    padding-left: 12px;
    padding-right: 12px;
}

.what-is-this-h {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-container {
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: center;
}

.what-is-this-btn {
    width: 221px;
}

.what-is-link {
    color: green;
    font-weight: bold;
}

.what-is-link:hover {
    text-shadow: 1px 1px 3px #9991f9;
}

.what-is-link:active {
    color: pink;
}

.what-is-it-section {
    margin-bottom: 60px;
}

#app {
    background-color: #fcfaff;
    color: #333;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 520px;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#app :focus:not(button):focus:not(input) {
    outline: 1px dashed pink;
}

.nav-bar {
    background-color: #ffe4e1;
    height: 60px;
    user-select: none;
}

.nav-button {
    background-color: #ffe4e1;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    height: 49px;
    margin-top: 4.5px;
    padding-left: 7px;
    padding-right: 7px;
}

.nav-button:hover {
    background-color: #fff1f0;
}

.nav-button:active {
    background-color: #ffe4e1;
}

.nav-button-selected, .nav-button-selected:hover {
    background-color: #ffd966;
}
  
.nav-text {
    display: block;
    height: 100%;
    line-height: 49px;
    padding: 0;
    width: 100%;
    text-decoration: none;
}

.nav-text-keybrd {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    margin-top: 3.5px;
    top: 8px;
}

.nav-off {
    color: #ff3333;
    font-weight: bold;
    text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 1px #333, 0 -1px;
}

.nav-on {
    color: lightblue;
    font-weight: bold;
    text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 1px #333, 0 -1px;
}

.nav-link {
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    padding-left: 20px;
}

.log-in-btn {
    margin-left: 130px;
}

li :focus {
    background-color: #91f999;
}

.modes-primary {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}

.difficultyLvl {
    display: block;
    background-color: #f99991;
    border-bottom: 1px solid white;
    font-size: 20px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

.difficultyLvl:focus {
    background-color: #9991f9;
    color: white;
}

.difficultyLvl:active {
    background-color: #f99991;
}

.easy-container, .novice-container, .difficult-container {
    display: block;
    height: 0px;
    transition: all 0.3s ease-out;
    width: 100%;
    overflow: hidden;
}

.easy-container:not(:empty) {
    height: 160px;
}

.novice-container:not(:empty) {
    height: 240px;
}

.difficult-container:not(:empty) {
    height: 80px;
}

.game {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    user-select: none;
}

.game-mode-string {
    color: #666;
    font-weight: 600;
    margin-left: 2px;
    margin-top: 10px;
}

#staves {
    margin-left: 5px;
}

.status-box {
    height: 100px;
    margin: 0 5px 10px 5px;
}

.status-feedback {
    color: #000;
    font-size: 18px;
    margin-bottom: 7px;
}

.inv-glyph {
  position: relative;
  font-size: 60%;
  left: 1px;
  top: -8px;
}

.low-glyph {
  position: absolute;
  left: 0;
  top: 11px; 
}

.status-primary {
    font-size: 21px;
    margin-top: 10px;
}

.status-secondary {
    color: #363;
    font-size: 18px;
    margin-left: 2px;
}

.k-of-n {
    border: 2px solid #ffe4e1;
    border-radius: 5px;
    color: #577;
    font-size: 28px;
    height: 35px;
    line-height: 35px;
    margin: 10px 5px 0 5px;
    padding-left: 10px;
    width: 230px;
}

button {
    height: 40px;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    user-select: none;
    vertical-align: bottom;
}

.buttonStyle {
    font-size: 20px;
    height: 60px;
    padding: 0;
    text-align: center;
    width: 50px;
}

.buttonGiveUpStyle {
    background-color: pink;
    border: 1px solid #9c9c9c;
    border-radius: 2px;
    color: beige;
    font-size: 20px;
    height: 60px;
    text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 1px #333, 0 -1px 5px #555;
    width: 50px;
}

.buttonWrongStyle {
    background-color: #ff3333;
    border: 1px solid #9c9c9c;
    border-radius: 2px;
    color: beige;
    font-size: 20px;
    height: 60px;
    text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 1px #333, 0 -1px 5px #555;
    width: 50px;
}

.buttonRightStyle  {
    background-color: cornflowerblue;
    border: 1px solid #9c9c9c;
    border-radius: 2px;
    color: beige;
    font-size: 20px;
    height: 60px;
    text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 1px #333, 0 -1px 5px black;
    width: 50px;
}

button:hover {
    box-shadow: inset 2px -1px 20px 0 #ffd966;
}

.nxt-btn {
    font-weight: bold;
    width: 67px;
}

.nxt-text {
    margin-top: 6px;
}

.keyHint {
    background-color: green;
    border: 1px solid green;
    border-radius: 2px;
    color: white;
    margin: auto;
}

.answerKeyHint {
    font-size: 14px;
    width: 15px;
}

.miniKeyHint {
    font-size: 10px;
    font-weight: bold;
    margin-top: 3px;
}

.miniKeyHintDiv {
    font-size: 10px;
    font-weight: bold;
    margin-top: 3px;
    width: 10px;
}

.miniCtrlHint, .miniPlus, .miniEnterHint {
    display: inline-block;
}

.nxtKeyHint {
    margin-top: 12px;
    width: 36px;
}

.miniPlus {
    width: 10px;
}

.miniCtrlHint {
    width: 27px;
}

.miniEnterHint {
    width: 35px;
}

.game-link:hover {
    text-shadow: 1px 1px 3px #ffd966;
}

.play-audio-div {
    display: inline-block;
}

.ctrl-btn {
    height: 66px;
    vertical-align: top;
}

.lesson-nav {
    user-select: none;
}

.lesson-nav-hint {
    padding-left: 5px;
    padding-right: 5px;
}

.lesson-nav-keyboard-hints {
    font-size: 24px;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    line-height: 28px;
    margin-top: 500px;;
    pointer-events: none;
    text-align: center;
    width: 100%;
}

.log-in-and-registration-form {
    font-size: 26px;
    margin: auto;
    text-align: center;
    width: 50%;
}

.log-in-and-registration-form input {
    padding: 0 8px 0 8px;
    font-size: 24px;
    height: 34px;
    width: 100%;
}

.log-in-and-registration-form input,
.log-in-and-registration-form label,
.log-in-and-registration-form button {
    margin: 5px 0 5px 0;
}

.log-in-and-registration-form input {
    margin-bottom: 15px;
}

.log-in-and-registration-form input:focus {
    outline: 1px solid cornflowerblue;
}

.log-in-and-registration-form button {
    font-size: 14px;
    padding: 7px 14px 7px 14px;
}

.log-in-status {
    color: #0d3;
    height: 90px;
    margin: 30px 5px 10px 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 1px #eee, 0 -1px;
}

.log-in-err {
    color: #f32;
}

.scores-btn-div {
    height: 175px;
}

.scores-h-txt {
    font-size: 35px;
    font-weight: bold;
    padding: 40px 0 20px;
    text-align: center;
}

.huge-btn:hover {
    box-shadow: inset 2px -2px 130px #ff6699;
}

.big-btn:hover,
.small-btn:hover {
    box-shadow: inset 2px -2px 90px #ff6699;
}

.huge-btn-div {
    height: 100%;
    vertical-align: top;
}

.huge-btn {
    border: 1px solid #666;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 30px;
    height: 90px;
    vertical-align: top;
    width: 50%;
}

.huge-btn-active {
    background-color: cornflowerblue;
}

.big-btn-div {
    box-sizing: border-box;
    display: block;
}

.big-btn {
    border: 1px solid #666;
    border-radius: 3px;
    font-size: 20px;
    vertical-align: top;
    width: 33.3%;
}

.big-btn-selected {
    background-color: #ffd966;
}

.small-btns {
    box-sizing: border-box;
    vertical-alignment: top;
}

.small-btns-major button {
    width: 25%;
}

.small-btns-minor button {
    font-size: 13px;
    width: 16.66%;
}

.small-btns-all button {
    width: 50%;
}

.small-btn {
    border: 1px solid #666;
    border-radius: 3px;
    vertical-align: top;
}

.small-btn-selected {
    background-color: pink;
}

.scores-container {
    margin-top: 25px;
}

.scores-err-txt {
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
}

thead {
    font-weight: bold;
}

thead tr th {
    background-color: lightgreen;
    vertical-align: text-bottom;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media screen and (max-width: 800px) {
    html, body {
        height: 100%;
    }
    #app {
        height: 100%;
        width: auto;
    }
    .log-in-btn {
        margin-left: 50%;
    }
}

@media screen and (max-width: 600px) {
    .log-in-btn {
        margin-left: 30%;
    }
    .small-btn {
        font-size: 12px;
        height: 50px;
    }
}

@media screen and (max-width: 500px) {
    .log-in-btn {
        margin-left: 30%;
    }
    .small-btns-minor button {
        font-size: 10px;
        height: 50px;
    }
    .big-btn {
        height: 52px;
    }
}

@media screen and (max-width: 420px) {
    .status-box {
        height: 150px;
        width: 80%;
        margin: 0 5px 10px 5px;
    }
    .log-in-btn {
        margin-left: auto;
    }
    .small-btns-minor button {
        font-size: 8px;
        height: 50px;
    }
}