body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("guitarman.jpg");
    background-position: 10% 40%;
}

.top {
    background: rgba(10,130,0,0.55);
    padding: 10px 0 10px 0;
}

.logo {
    display: block;
    opacity: 0.9;
    margin: auto;
    width: 50%;
}

.box {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 44px;
    color: rgba(30,60,30,1);
    /* margin-left: 50px; */
    margin-left: 10%;
    margin-top: 5%;
    width: 35%;
}

.tryBtn {
    border: 0.5px solid #666;
    border-radius: 5px;
    color: #555;
    background-color: rgb(250, 70, 77);
    display: block;
    height: 60px;
    opacity: 0.6;
    padding-top: 5px;
    margin: 20px auto 0 auto;
    text-align: center;
    text-decoration: none;
    width: 110px;
}

.tryBtn:active {
    border: 0.5px solid #acb;
    color: #464;
    background: forestgreen;
}

footer {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    bottom: 5px;
    left: 27px;
}

.githubTxt {
    color: white;
    text-decoration: none;
    weight: bold;
    white-space: nowrap;
}

.sep {
    display: inline-block;
    color: #efe;
    margin: 0 22px 0 22px;
}

footer a {
    color: #acb;
    text-decoration: none;
}

.githubImg {
    height: 20px;
    margin-bottom: -4px;
}